body {
	cursor: default;
	padding-top: 50px;
	padding-bottom: 20px;
}

#jumbo {
	background-image: url("media/banner-blur.jpg");
	background-position: center;
	background-repeat: none;
}

#jumbo-text {
	color: #ffffff;
	text-shadow: 5px black 5px;
}

#home-button {
	color: white;
}

#home-button:hover {
	color: #cccccc;
}